.search{
    display:flex;
}


.search-field{
    width:40%;
    /* border: 2px solid blue; */
}

.map{
    /* border: 2px solid green; */
    width:60%;
    margin: 10px;
    padding:10px;
}

.map img{
    width:100%;
}